@charset "UTF-8";
@font-face {
  font-family: "Stolzl";
  src: local("Stolzl"), url("/fonts/Stolzl/Stolzl_Book.eot") format("eot"), url("/fonts/Stolzl/Stolzl_Book.woff") format("woff"), url("/fonts/Stolzl/Stolzl_Book.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Stolzl";
  src: local("Stolzl"), url("/fonts/Stolzl/Stolzl_Regular.eot") format("eot"), url("/fonts/Stolzl/Stolzl_Regular.woff") format("woff"), url("/fonts/Stolzl/Stolzl_Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Stolzl";
  src: local("Stolzl"), url("/fonts/Stolzl/Stolzl_Medium.eot") format("eot"), url("/fonts/Stolzl/Stolzl_Medium.woff") format("woff"), url("/fonts/Stolzl/Stolzl_Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Stolzl";
  src: local("Stolzl"), url("/fonts/Stolzl/Stolzl_Bold.eot") format("eot"), url("/fonts/Stolzl/Stolzl_Bold.woff") format("woff"), url("/fonts/Stolzl/Stolzl_Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
* {
  font-family: "Stolzl", sans-serif;
  font-weight: 400;
  color: #FFFFFF;
  line-height: 140%;
}
*::before {
  font-family: "Stolzl", sans-serif;
  font-weight: 400;
  color: #FFFFFF;
  line-height: 140%;
}
*::after {
  font-family: "Stolzl", sans-serif;
  font-weight: 400;
  color: #FFFFFF;
  line-height: 140%;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}
address {
  font-style: normal;
}

label,
button,
select,
summary,
[type=radio],
[type=submit],
[type=checkbox] {
  cursor: pointer;
}

.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
}

.container {
  max-width: 1326px;
  padding: 0 15px;
  margin: 0 auto;
  height: 100%;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #3D324F;
  border-radius: 12px;
  white-space: nowrap;
}

.card {
  display: flex;
  align-items: center;
  background: rgba(255, 255, 255, 0.35);
  backdrop-filter: blur(6px);
  border-radius: 16px;
}

.header {
  background: url("/images/background.jpg") center;
}

.header__top-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 0px;
}

.header__top-img-box {
  display: flex;
  align-items: center;
}
.header__top-img-box a:first-child {
  margin-right: 24px;
}

.header__top-nav-list {
  display: flex;
  align-items: center;
}
.header__top-nav-list li:not(:last-child) {
  margin-right: 40px;
}

.header__top-nav-list-item {
  font-size: 14px;
  color: #FFFFFF;
  font-weight: 250;
}

.header__top-right-box {
  display: flex;
  align-items: center;
}

.header__top-socials-list {
  display: flex;
  align-items: center;
  margin-right: 40px;
}
.header__top-socials-list a:first-child {
  margin-right: 32px;
}

.header__top-button {
  padding: 12px 20px;
  background: #FFFFFF;
  border-radius: 8px;
  font-size: 13px;
  color: #1A1A1A;
}

.header__body-inner {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding-bottom: 100px;
  margin-top: 100px;
}

.header__body-content {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-bottom: 144px;
}

.header__body-star-box {
  display: flex;
  align-items: center;
}
.header__body-star-box img:not(:last-child) {
  margin-right: 23px;
}

.header__body-title {
  font-weight: 700;
  font-size: 64px;
  max-width: 511px;
  margin: 40px 0;
}

.header__body-button {
  padding: 16px 24px;
  font-size: 18px;
}

.header__body-offers-box {
  display: flex;
  flex-direction: column;
}

.header__body-row {
  display: flex;
  align-items: center;
}
.header__body-row > div:not(:last-child) {
  margin-right: 32px;
}

.header__body-row-title {
  font-weight: 500;
  font-size: 24px;
  margin-bottom: 48px;
}

.header__body-card {
  padding: 20px 24px;
}
.header__body-card img {
  overflow: hidden;
  border-radius: 12px;
  margin-right: 28px;
}

.header__body-card-text {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.header__body-card-title {
  font-size: 15px;
}

.header__body-card-price {
  font-weight: 500;
  font-size: 24px;
  margin: 12px 0;
  padding-left: 21px;
  position: relative;
}
.header__body-card-price::before {
  content: "₽";
  font-weight: 500;
  font-size: 24px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.header__body-card-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 20px;
  border-radius: 8px;
  font-size: 13px;
}

.about {
  background: url("/images/background.jpg") center;
}

.blur {
  background: rgba(61, 50, 79, 0.7490196078);
}

.about__inner {
  padding: 209px 0 249px;
  display: flex;
  align-items: center;
}

.about__content {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-right: 64px;
}
.about__content > *:not(:last-child) {
  margin-bottom: 40px;
}

.about__title {
  font-weight: 700;
  font-size: 48px;
  max-width: 856px;
}

.about__desc {
  font-weight: 250;
  font-size: 18px;
}

.about__button {
  padding: 16px 24px;
  background: #FFFFFF;
  border-radius: 12px;
  font-size: 18px;
  color: #1A1A1A;
}

.about__card {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 28px 32px;
  max-width: 376px;
}
.about__card img {
  margin-bottom: 28px;
  border-radius: 12px;
  overflow: hidden;
}

.about__right-button {
  padding: 8px 12px;
  background: #3D324F;
  border-radius: 8px;
  font-size: 15px;
}

.about__card-title {
  margin: 12px 0;
  font-weight: 500;
  font-size: 24px;
}

.about__card-desc {
  font-size: 15px;
}/*# sourceMappingURL=styles.css.map */