@import './exclude-me/fonts.scss',
'./exclude-me/variables.scss',
'./exclude-me/global.scss';

// ========================HEADER_TOP=============================
// ========================HEADER_TOP=============================
.header {}

.header__top-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
  position: fixed;
  width: 100%;
  max-width: 1296px;
}

.header__top-img-box {
  display: flex;
  align-items: center;

  a:first-child {
    margin-right: 24px;
  }
}

.header__top-nav {}

.header__top-nav-list {
  display: flex;
  align-items: center;

  li:not(:last-child) {
    margin-right: 40px;
  }
}

.header__top-nav-list-item {
  font-size: 14px;
  line-height: 140%;
  color: #FFFFFF;
  font-weight: 250;
}

.header__top-right-box {
  display: flex;
  align-items: center;
}

.header__top-socials-list {
  display: flex;
  align-items: center;
  margin-right: 40px;

  a:first-child {
    margin-right: 32px;
  }
}

.header__top-button {
  padding: 12px 20px;
  background: #FFFFFF;
  border-radius: 8px;

  font-size: 13px;
  line-height: 140%;
  color: #1A1A1A;
}