@font-face {
  font-family: 'Stolzl';
  src: local('Stolzl'),
    url('../fonts/Stolzl/Stolzl_Book.eot') format('eot'),
    url('../fonts/Stolzl/Stolzl_Book.woff') format('woff'),
    url('../fonts/Stolzl/Stolzl_Book.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Stolzl';
  src: local('Stolzl'),
    url('../fonts/Stolzl/Stolzl_Regular.eot') format('eot'),
    url('../fonts/Stolzl/Stolzl_Regular.woff') format('woff'),
    url('../fonts/Stolzl/Stolzl_Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Stolzl';
  src: local('Stolzl'),
    url('../fonts/Stolzl/Stolzl_Medium.eot') format('eot'),
    url('../fonts/Stolzl/Stolzl_Medium.woff') format('woff'),
    url('../fonts/Stolzl/Stolzl_Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Stolzl';
  src: local('Stolzl'),
    url('../fonts/Stolzl/Stolzl_Bold.eot') format('eot'),
    url('../fonts/Stolzl/Stolzl_Bold.woff') format('woff'),
    url('../fonts/Stolzl/Stolzl_Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}